<div>
    <form action="/notes/create/note" method="POST">
        <p>
            <label for="notetxt">{{ title }}</label>
        </p>
        <textarea id="notetxt" name="notetxt"></textarea>
        <div>
            <button type="submit">CREATE</button>
        </div>
    </form>
</div>