<div>
    <form action="/notes/edit/note" method="POST">
        <p>
            <label for="notetxt">{{ title }}</label>
        </p>
        <input type="hidden" name="noteId" value="{{ note.id }}">
        <textarea id="notetxt" name="notetxt" style="width: 100%; height: 60vh;">{{ note.note }}</textarea>
        <div>
            <a class="btn btn-default" href="/notes/view/{{ note.id }}">CANCEL</a>
            <button type="submit" class="btn btn-primary">UPDATE</button>
        </div>
    </form>
</div>