<div>
    <h1>ACTIONS</h1>
    <div>
        <ul>
            <li>
                <a href="/notes/create">CREATE NOTE</a>
            </li>
        </ul>
    </div>
    <hr />
    <div>
        <h3>{{ title }}</h3>
        <form action="/notes/delete/note" method="POST">
            {{#each notes}}
            <ul>
                <li>
                    <label>
                        {{ this.id }} - {{ this.note }}
                        <button type="submit" value="{{ this.id }}" name="noteId">X</button>
                    </label>
                </li>
            </ul>
            {{/each }}
        </form>
    </div>
</div>
