<div class="row">
    <div class="col-xs-12">
        <form action="/notes/edit" method="POST">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            {{ note.title }}
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label>Changed: </label> {{ note.lastModification }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ note.note }}
                </div>
                <div class="panel-footer">
                    <input type="hidden" name="noteId" value="{{ note.id }}">
                    <a class="btn btn-default" href="/notes">CANCEL</a>
                    <button class="btn btn-primary" name="editBtn" value="1">EDIT</button>
                    <button class="btn btn-danger" name="deleteBtn" value="1">DELETE</button>
                </div>
            </div>
        </form>
    </div>
</div>